@import 'tailwindcss';

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
}

html,
body {
  background-color: #000;
}

/* Smooth page transitions */
@media (prefers-reduced-motion: no-preference) {
  html {
    view-transition-name: root;
  }
}
